
<div class="alert alert-danger" ng-show="message"> {{message}} </div>

<h1> Nuevo productos </h1>
<input type="text" ng-model="p.nombre" class="form-control" placeholder="nombre"> <br>

<input type="text" ng-model="p.categoria" class="form-control" placeholder="categoria"> <br>

<input type="text" ng-model="p.precio" class="form-control" placeholder="precio"> <br>

<input type="text" ng-model="p.stock" class="form-control" placeholder="stock"> <br>

<button class="btn btn-primary" ng-click="agregar(p)"> agregar</button> <br>

{{d|date}}<br>
{{n|number:2}}<br>
{{n|currency:'A$R'}}<br>
{{s|limitTo:10}}<br><br>


{{y}}<br>

{{s|ellipsis:10}}